[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
networkx = "*"
scipy = "*"
python-louvain = "*"
matplotlib = "*"
python-igraph = "*"

[requires]
python_version = "3.5"
